doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src='https://kit.fontawesome.com/a076d05399.js')
  link(rel='stylesheet' href='../css/stylesocial.css')
  link(rel='stylesheet' href='../css/navigation.css')
  link(rel='stylesheet' href='../css/store.css')
  link(rel='stylesheet' href='../css/footer.css')
  title Store
.navigation.background.navheight-resp
  .act.acti
    ul.nav-list.visibility-resp
      li.logo
        img#logoimage(src='../image/abhi.jpg' alt='Logo')
        p Shashank Kushwaha
      .navigation_items
        li
          a(href='/#') HOME
        li
          a.bluenav(href='#store') STORE
        li
          a(href='/gallery') GALLERY
        li
          a(href='/contact') CONTACT US
  .burger
    .line
    .line
    .line
.hei
.store
  .category
    li
      p.category1 Store
    li.items
      p
        span.item.active(data-name='all') All
      p
        span.item(data-name='custom') Custom Portraits
      p
        span.item(data-name='original') Original Artwork
  .gallery
    //
      <div class="div">
      <img class="img" src="../Image/techburner.jpg">
      <h1 class="h1">Create a Back-End App with Javascript</h1>
      <p class="p">Learn how to buld back-end web API's  using Express.js, Node.js, SQL, and...</p>
      <p2 class="p2">8 weeks</p2>
      </div>
    .image(data-name='original')
      .imge
        img(src='../Image/techburner.jpg')
      .discribtion
        .like.likebtn
          i#1.fas.fa-heart(onclick='getId(this)')
          button.buynow Buy Now
        .describe
          p Lorem ipsum dolor, sit amet conse 
    .image(data-name='custom')
      .imge
        img(src='../Image/cl.jpg')
      .discribtion
        .like.likebtn
          i#2.fas.fa-heart(onclick='getId(this)')
          button.buynow Buy Now
        .describe
          p Lorem ipsum dolor, sit amet conse 
    .image(data-name='custom')
      .imge
        img(src='../Image/cp.jpg')
      .discribtion
        .like.likebtn
          i#3.fas.fa-heart(onclick='getId(this)')
          button.buynow Buy Now
        .describe
          p Lorem ipsum dolor, sit amet conse 
    .image(data-name='original')
      .imge
        img(src='../Image/tucan.jpg')
      .discribtion
        .like.likebtn
          i#4.fas.fa-heart
          button.buynow Buy Now
        .describe
          p Lorem ipsum dolor, sit amet conse 
section.social.background
  .wrapper
    .button
      .icon
        a.fab.fa-facebook-f(href='https://www.facebook.com/kushwaha0shashank' target='_blank')
      span
        a(href='https://www.facebook.com/kushwaha0shashank' target='_blank') Facebook
    .button
      .icon
        a.fab.fa-twitter(href='https://twitter.com/Abhishe98110899' target='_blank')
      span
        a(href='https://twitter.com/Abhishe98110899' target='_blank') Twitter
    .button
      .icon
        a.fab.fa-instagram(href='https://www.instagram.com/_kushwaha_shashank_' target='_blank')
      span
        a(href='https://www.instagram.com/_kushwaha_shashank_' target='_blank') Instagram
    .button
      .icon
        a.far.fa-envelope(href='mailto:kushwahaabhi101@gmail.com' target='_blank')
      span
        a(href='mailto:kushwahaabhi101@gmail.com') Mail
    .button
      .icon
        a.fab.fa-linkedin(href='https://linkedin.com/in/abhishek-kushwaha-a766a3201' target='_blank')
      span
        a(href='https://linkedin.com/in/abhishek-kushwaha-a766a3201' target='_blank') Linkedin
    .button
      .icon
        a.fab.fa-youtube(href='https://www.youtube.com/channel/UCElXUo4m7F-hnP120USBsUw' target='_blank')
      span
        a(href='https://www.youtube.com/channel/UCElXUo4m7F-hnP120USBsUw' target='_blank') YouTube
footer.background
  .foot
    p.footar
      | Copyright &copy; 2021 Shashank Kushwaha
    p.footr
      a(href='privacy.html') Privacy Policy
    p.footr
      a(href='cancelation.html') Cancellation, Refund &amp; Delivery
script(src='../js/resp.js')
script(src='../js/filter.js')
script(src='../js/like.js')
