doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src='https://kit.fontawesome.com/a076d05399.js')
  link(rel='stylesheet' href='../css/stylesocial.css')
  link(rel='stylesheet' href='../css/navigation.css')
  link(rel='stylesheet' href='../css/store.css')
  link(rel='stylesheet' href='../css/footer.css')
  title Store
.navigation.background.navheight-resp
  ul.nav-list.visibility-resp
    li.logo
      img#logoimage(src='../image/abhi.png' alt='Logo')
      p Shashank Kushwaha
    .navigation_items
      li
        a(href='/#') HOME
      li
        a(href='#store') STORE
      li
        a(href='/gallery') GALLERY
      li
        a(href='/contact') CONTACT US
  .burger
    .line
    .line
    .line
.hei
.store
  .category
    li
      p.category1 Store
    li.items
      p
        span.item.active.activate(data-name='all') All
      p
        span.item(data-name='custom') Custom Portraits
      p
        span.item(data-name='original') Original Artwork
  .gallery
    .image(data-name='custom')
      span
        img(src='../Image/nature.jpg' alt='Image')
      .desc
        .reaction
          .heart
          // <div id="heart" class="button1"></div>
          .share
        .reaction1
          .discribtion
          .buynow
    .image(data-name='original')
      span
        img(src='../Image/nature.jpg' alt='Image')
      .desc
        .reaction
          .heart
          // <div id="heart" class="button1"></div>
          .share
        .reaction1
          .discribtion
          .buynow
    .image(data-name='custom')
      span
        img(src='../Image/nature.jpg' alt='Image')
      .desc
        .reaction
          .heart
          // <div id="heart" class="button1"></div>
          .share
        .reaction1
          .discribtion
          .buynow
    .image(data-name='custom')
      span
        img(src='../Image/nature.jpg' alt='Image')
      .desc
        .reaction
          .heart
          // <div id="heart" class="button1"></div>
          .share
        .reaction1
          .discribtion
          .buynow
    .image(data-name='custom')
      span
        img(src='../Image/nature.jpg' alt='Image')
      .desc
        .reaction
          .heart
          // <div id="heart" class="button1"></div>
          .share
        .reaction1
          .discribtion
          .buynow
section.social.background
  .wrapper
    .button
      .icon
        i.fab.fa-facebook-f
      span
        a(href='https://www.facebook.com/kushwaha0shashank' target='_blank') Facebook
    .button
      .icon
        i.fab.fa-twitter
      span
        a(href='https://twitter.com/Abhishe98110899' target='_blank') Twitter
    .button
      .icon
        i.fab.fa-instagram
      span
        a(href='https://www.instagram.com/_kushwaha_shashank_' target='_blank') Instagram
    .button
      .icon
        i.far.fa-envelope
      span
        a(href='mailto:kushwahaabhi101@gmail.com') Mail
    .button
      .icon
        i.fab.fa-linkedin
      span
        a(href='https://linkedin.com/in/abhishek-kushwaha-a766a3201' target='_blank') Linkedin
    .button
      .icon
        i.fab.fa-youtube
      span
        a(href='https://www.youtube.com/channel/UCElXUo4m7F-hnP120USBsUw' target='_blank') YouTube
footer.background
  .foot
    .footar
      p Copyright &copy; 2021 Shashank Kushwaha
    p.footr
      a(href='privacy.html') Privacy Policy
    p.footr
      a(href='cancelation.html') Cancellation, Refund &amp; Delivery
script(src='../js/resp.js')
script(src='../js/filter.js')
