*{
   margin: 0;
   padding: 0;
}

/* .navigation_items li{
    background-color:#ffff;   
} */
.navigation_items li .bluenav{
    color:rgb(14, 155, 236);
}

html{
    scroll-behavior: smooth;
    max-width: 160rem;
}
.active{
    color: rgb(50, 129, 192);
}
.hei{
    width: 100%;
    height: 13.75rem;
}
.store{
    display: flex;
    flex-direction: row;
}
.category{
 
    padding-left:13%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    width:15rem;
}
.category1{
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.category li{
    list-style: none;
    display: flex;
    flex-direction: column;
}


.category p{
    padding-top:1rem;
    /* font-size: 1rem; */
}

.items p:hover{
    cursor: pointer;
}
.gallery{
    margin-right: 2rem;
    display: flex;
   flex-wrap: wrap;
   padding:1.5rem;
   justify-content: space-evenly;
   border: 0.3rem solid rgb(68, 66, 66);
  /* padding-top: 1rem; */
  margin-bottom: 2rem;
  width: 100%;
  min-height: 38rem;
  /* background-color: rgb(190, 185, 185);
  background-blend-mode:lighten; */
}


.image.hide{
display: none;
}

.image.show{
    display: flex;
    } 
.image{
 
 width: 20rem;
 height: 28rem;
 display:flex;
 flex-direction: column;
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

 /* box-shadow:  0.1rem 0.5rem black; */
 border-radius: 0.3rem; 
 /* justify-content: center; */
 padding-top: 1rem;
 align-items:center;
 /* margin:1%; */
 margin: 2rem;
 /* margin-bottom: 2rem; */

        }
.discribtion{
    padding-top: 0.5rem;
    width: 90%;
    height: 8rem;
    display: flex;
    /* flex-wrap: wrap; */
    overflow: scroll;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.likebtn{
    /* position: relative; */
    width: 80%;
    display:block;
    height: 3rem;
    flex-direction: row;
}


.likebtn i{
    /* width: 10%; */
    /* display: block; */
   font-size: 1.5rem;
   /* border: 1px solid black; */
   color: red;
}
.likebtn i:hover{
    cursor: pointer;
    /* color: palevioletred; */
}
.like{
    /* position: relative; */
    display: block;
    flex-direction: row;
    width: 80%;
    height: 3rem;
}

.like i{
    /* width: 10%; */
    /* display: block; */
    color:rgb(192, 191, 191);
    font-size: 1.5rem;
    /* background-color: red; */
    }

.buynow{
    position: relative;
    height: max-content;
    width: max-content;
    padding: 0.2rem;
    border-radius: 0.5rem;
    float: right;
    /* margin-left:70%; */
    font-size: 0.8rem;
}
.buynow:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    background:rgb(250, 48, 92);
}
.describe{
    display: inline-flex;
    justify-content: center;
}
.imge{
 width: 90%;
height: 20rem;
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
background-color: rgb(255, 255, 255);
} 
    
.image img{
    width:90%;
    height: auto;
    padding-top: 0.625rem;

    }
   




@media only screen and (max-width: 973px){

    .hei{
        height: 8rem;
    }
    .category li{
        flex-direction:row;
        /* padding: 2rem; */
        width: max-content;
    }
    .category li p{
        padding: 0.5rem;
        /* width:max-content; */
    }
    .category li p span{
        padding:0.8rem;
    }
    .gallery{
        align-items: center;
        /* justify-content: center; */
        padding: unset;
        width: unset;
        margin-left: 2rem;
    }
    /* .image{
        align-items: center;
        justify-content: center;
    } */
    .image span img{
        width:60%;
        height: auto;
        border: 0.1rem solid gray;
    }
    .store{
        flex-direction: column;
    }
    .category{
        padding-left: 5%;
    }
}

@media only screen and (max-width: 765px){
   .describe p{
        font-size: 1rem;
    }
.gallery{
    border: unset;
    padding: unset;
    margin: unset;

}
.image{
    margin: 1rem;
}

}




@media only screen and (max-width: 522px){
    .describe p{
        font-size: 0.8rem;
    }
    .hei{
        height: 4rem;
    }
    .category{
        padding-left: 5%;
    }
    .category1{
        font-size:1.2rem
    }
    .items p{
       font-size: 0.8rem;
    }
}
/* @media only screen and (max-width: 380px){

.buynow{
    margin-left: 62%;
}
}
@media only screen and (max-width: 319px){

    .buynow{
        margin-left: 60%;
    }
    } */
@media only screen and (max-width: 380px){
 
    .image{
        margin: 0.8rem;
        padding-top: 0.5rem;
        
    }
    .imge{
        width: 98%;
    }
    .category{
        padding-left: 5%;
        padding-right: 0.5rem;
       width: max-content;
    }
    .category1{
        font-size:1rem
    }
    .items p{
       font-size: 0.7rem;
    }
    .category li p{
        padding: 0.2rem;
        /* width:max-content; */
    }
    .category li p span{
        padding:0.4rem;
    }
}
@media only screen and (max-width: 273px){
    .category1{
        font-size:1rem
    }
    .items p{
       font-size: 0.6rem;
    }
    .category li p{
        padding: 0.2rem;
        /* width:max-content; */
    }
    .category li p span{
        padding:0.3rem;
    }
}