*{
    margin: 0;
    padding: 0;
}
html{
  scroll-behavior: smooth;
  max-width: 160rem;
  /* justify-content: center; */
  /* align-items: center; */
}

.navigation_items li .bluenav1{
    color:rgb(14, 155, 236);
}
.firstsection {
    padding-top: 15rem;
   height: max-content;
   padding-bottom: 5rem;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    max-width: 50%;
    /* height: 80%; */
}

.fhalf {
width:80%;
display: flex;
flex-direction: column;
justify-content: center;

}

.shalf {
width: 30%;
padding-left: 4.3rem;

}

.shalf img {
    width: 11rem;
    height: 11rem;
    border: 0.19rem solid white;
    border-radius: 50%;
    display: block;
    margin: auto;


}

.heading {
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 2.5rem;
}

.content {

  font-size: 1.5rem;
  /* padding: 0.4rem 2em; */
  line-height: 1.6;
}

.btn {
    padding: 0.5rem 1.25rem;
    border: 0.18rem solid white;
    border-radius: 1rem;
    margin: 0.5rem 0rem;
    font-size: 1rem;
    color: white;
    background-color: none;
    cursor: pointer;
    background: none;
}

.btn_sm {
    background: none;
    padding: 0.37rem 1rem;
    border: 0.125rem solid white;
    margin: 0.37rem 0rem;
    border-radius:0.5rem;
    color: white;
    cursor: pointer;
} 
.btn:hover{
    background: red;
}


.focus{
    display: flex;
    height: max-content;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width:70%;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 6rem;
    margin-bottom: 4rem;
    background: none;
    background-color: white;
    border-radius:2rem;
}
.section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    max-width: 80%; 
    width: 70%;  
    /* margin-left: 15%;
    margin-right: 15%;
    margin-top: 6rem;
    margin-bottom: 4rem;

    padding-top: 1.8rem; */
}
.left {
    flex-direction: row-reverse;
    /* margin-bottom: 12.5rem; */
}

.para {
    padding:0.625rem 1.25rem;
}

 .firstimage{
     margin-left: 1.8rem;
     padding: 0.635rem;
     width: 13rem;
     height: 13rem;
     border: 0.18rem solid white;
     border-radius: 50%;
     display: block;
   
 }
 .firstimage1{
    margin-right: 1.8rem;
    padding: 0.625rem;
    width:13rem;
    height:13rem;
    border: 0.18rem solid white;
    border-radius: 50%;
    display: block;  
 
 }

.text {
    text-align: center;
    padding: 0.31rem;
    font-size: 2rem;
    padding-top: 0.6rem;
} 





@media only screen and (max-width: 973px){

    .firstsection {
        padding-top: 6rem;
       height: max-content;
       padding-bottom: 3rem;
    }
    .firstimage{
        /* margin-left: 1.8rem; */
        padding: 0.635rem;
        width: 10rem;
        height: 10rem;
        border: 0.15rem solid white;
        border-radius: 50%;
        display: block;
      
    }
    .firstimage1{
       /* margin-right: 1.8rem; */
       padding: 0.625rem;
       width:10rem;
       height:10rem;
       border: 0.15rem solid white;
       border-radius: 50%;
       display: block;  
    
    }
   
   .text {
       text-align: center;
       padding: 0.31rem;
       font-size: 1.5rem;
       padding-top: 0.6rem;
   } 

    .shalf img {
        width: 10rem;
        height: 10rem;
        border: 0.15rem solid white;
    }
    
    .heading {
      font-size: 1.5rem;
    
      margin-top: 2.5rem;
    }
    
    .content {
    
      font-size: 1.2rem;
      padding: 0.4rem 2rem;
      line-height: 1.6;
    }
    
    .btn {
        padding: 0.5rem 1.25rem;
        border: 0.15rem solid white;
        border-radius: 1rem;
        font-size: 0.8rem;

    }
 


    .main{
        flex-direction: column-reverse;
        max-width: 100%;
   
        /* height: 80vh; */
    }

    .section{
        flex-direction: column-reverse;
        margin:unset;
        width: unset;
        max-width: unset;
     
    }
    .heading{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    }
    .content{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    }
    .buttons {
    text-align: center;
   
    }
    .shalf{
        text-align: center;
        justify-content: center;
        /* margin-top: 330px; */
        padding: unset;
    }
    .img{
     
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .firstimage{
        padding: unset;
        padding: 20px;
        margin: unset;
    }
    .firstimage1{
        margin: unset;
    }
    .para{
        padding: 0px;
    }

    /* .firstsection{
        height: 122vh;
    } */
    .section {

        margin-top: 4rem;
        margin-bottom: 3rem;
    
        padding-top: 1rem;
    }


}


@media only screen and (max-width: 667px){

    .focus{
        padding-top: unset;
        padding-bottom: unset;
    }
    .section {

 
        margin-top: 3rem;
        margin-bottom: 2.5rem;
    
        padding-top: 1rem;
    }
    .firstsection {
        padding-top: 6rem;
       height: max-content;
       padding-bottom: 2.8rem;
    }

    .firstimage{
        /* margin-left: 1.8rem; */
        padding: 0.635rem;
        width: 8rem;
        height: 8rem;
        border: 0.15rem solid white;
        border-radius: 50%;
        display: block;
      
    }
    .firstimage1{
       /* margin-right: 1.8rem; */
       padding: 0.625rem;
       width:8rem;
       height:8rem;
       border: 0.15rem solid white;
       border-radius: 50%;
       display: block;  
    
    }
   
   .text {
       text-align: center;
       padding: 0.31rem;
       font-size: 0.8rem;
       padding-top: 0.6rem;
   } 

    .shalf img {
        width: 8rem;
        height: 8rem;
        border: 0.15rem solid white;
    }
    
    .heading {
      font-size: 1rem;
    
      margin-top: 2.5rem;
    }
    
    .content {
    
      font-size: 1rem;
      padding: 0.4rem 2rem;
      line-height: 1.6;
    }
    
    .btn {
        padding: 0.5rem 1.25rem;
        border: 0.15rem solid white;
        border-radius: 1rem;
        font-size: 0.6rem;

    }
 

    /* .firstsection{
        height: 140vh;
    } */
}
@media only screen and (max-width: 380px){
    .firstsection {
        padding-top: 6rem;
       height: max-content;
       padding-bottom: 2.5rem;
    }

    .firstimage{
        /* margin-left: 1.8rem; */
        padding: 0.635rem;
        width: 6rem;
        height: 6rem;
        border: 0.15rem solid white;
        border-radius: 50%;
        display: block;
      
    }
    .firstimage1{
       /* margin-right: 1.8rem; */
       padding: 0.625rem;
       width: 6rem;
       height:6rem;
       border: 0.15rem solid white;
       border-radius: 50%;
       display: block;  
    
    }
   
   .text {
       text-align: center;
       padding: 0.31rem;
       font-size: 0.5rem;
       padding-top: 0.6rem;
   } 

    .shalf img {
        width: 6rem;
        height: 6rem;
        border: 0.15rem solid white;
    }
    
    .heading {
      font-size: 0.8rem;
    
      margin-top: 2rem;
    }
    
    .content {
    
      font-size: 0.8rem;
      padding: 0.4rem 2rem;
      line-height: 1.2;
    }
    
    .btn {
        padding: 0.5rem 1.25rem;
        border: 0.15rem solid white;
        border-radius: 1rem;
        font-size: 0.6rem;

    }
}