 
  
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
margin: 0;
padding: 0;
/* box-sizing: border-box; */
font-family: 'Poppins', sans-serif;
}
html{
    max-width: 160rem;
}
.social{
padding-bottom: 1rem;
padding-top: 1.5rem;
display: flex;
height: 100%;
width: 100%;
justify-content: center;
flex-wrap: wrap;

}
.wrapper{
    justify-content: center;
    align-items: center;
}
.wrapper .button{
display: inline-block;
justify-content: center;
height: 2.2rem;
width: 2.2rem;

align-items: center;
margin: 1rem;
overflow: hidden;
background: #fff;
border-radius: 2.2rem;
cursor: pointer;
box-shadow: 0px 0.3rem 0.3rem rgba(0,0,0,0.1);
transition: all 0.3s ease-out;
}
.wrapper .button a{
    text-decoration: none;
}
.wrapper .button:hover{
width: 11rem;
}
.wrapper .button .icon{
display: inline-block;
height: 2.2rem;
width: 2.2rem;
text-align: center;
border-radius: 50%;
box-sizing: border-box;
line-height: 2.2rem;
transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
    background: #BB001B;
    }
.wrapper .button:nth-child(5):hover .icon{
        background: #0077b5;
        }
.wrapper .button:nth-child(6):hover .icon{
background: #ff0000;
}
.wrapper .button .icon a{
font-size: 1.5rem;
line-height:2.2rem;
transition: all 0.3s ease-out;
text-decoration: none;
/* align-items: center; */
color: rgb(0, 0, 0);
}
.wrapper .button:hover .icon a{
color: #fff;
}

.wrapper .button span{
font-size: 1.5rem;
font-weight: 500;
line-height: 2.2rem;
margin-left: 0.2rem;
transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span a{
color: #4267B2;
}
.wrapper .button:nth-child(2) span a{
color: #1DA1F2;
}
.wrapper .button:nth-child(3) span a{
color: #E1306C;
}
.wrapper .button:nth-child(4) span a{
color: #BB001B;
}
.wrapper .button:nth-child(5) span a{
color: #0077b5;
}
.wrapper .button:nth-child(6) span a{
color: #ff0000;
}

@media only screen and (max-width: 973px){
    .social{
        padding-top: 0.8rem;
        padding-bottom: 0.6rem;
    }
}
@media only screen and (max-width: 570px){
.social{
    padding-top: 0.3rem;
    padding-bottom: 0.2rem;
}
.wrapper .button:hover{
width:1.1rem;
}

.wrapper .button:nth-child(1):hover .icon{
background:unset;
}
.wrapper .button:nth-child(2):hover .icon{
background: unset;
}
.wrapper .button:nth-child(3):hover .icon{
background: unset;
}
.wrapper .button:nth-child(4):hover .icon{
background: unset;
}
.wrapper .button:nth-child(5):hover .icon{
background: unset;
}
.wrapper .button:nth-child(6):hover .icon{
background: unset;
}

.wrapper .button:hover .icon a{
color:unset;
}

.wrapper .button{
height: 1.1rem;
width: 1.1rem;
border-radius: 1.1rem;
margin:0.5rem;
}


.wrapper .button .icon{
    display: block;
    line-height: 1.1rem;
    height: 1.1rem;
    width: 1.1rem;
    align-items: center;
    font-size: 0.76rem;
}
.wrapper .button .icon a{
    line-height: 1.1rem;
    font-size: 0.75rem;
}
.wrapper .button span{
    font-size: 0.75rem;
    line-height: 1.1rem;
    margin-left: 0.1rem;
}
}
